@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';

[x-cloak] {
    display: none !important;
}

@theme {
    --font-lato: "Lato", ui-sans-serif, system-ui, sans-serif;
    --font-sans: var(--font-lato);

    --color-blue-dark: #2e3da3;
    --color-blue-base: #5165e1;
    --color-blue-light: #8996eb;

    --color-grayin-100: #151619;
    --color-grayin-200: #1e2024;
    --color-grayin-300: #535964;
    --color-grayin-400: #858b99;
    --color-grayin-500: #e3e5e8;
    --color-grayin-600: #f9fafa;

    --color-feedback-danger: #d03e3e;
    --color-feedback-open: #cc3d6a;
    --color-feedback-progress: #355ec5;
    --color-feedback-done: #508b26;

    --text-md: 16px;
    --text-xss: 10px;
}
